:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  overflow: auto;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

nz-header {
  color: white;
}
.admin {
  display: flex;
}
.rer {
  display: flex;
  justify-content: space-between;
}

nz-content {
  flex: 1 1 0%;
  overflow: auto;
  background: #fff;
}
